{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Checkout</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

</head>

<body>

<div class="checkout-page">

    <div class="checkout-container">

        <!-- LEFT SIDE -->

        <div class="checkout-left">

            <div class="checkout-top">

                <h1>Checkout</h1>

                <p>Complete your delicious order</p>

            </div>

            <div class="food-list">

                {% for cart_item in cart_items %}

                <div class="food-card">

                    <div class="food-left">

                        <img src="{{ cart_item.item.picture }}">

                        <div>

                            <h3>{{ cart_item.item.name }}</h3>

                        </div>

                    </div>

                    <div class="food-right">

                        <span class="food-qty">

                            Qty : {{ cart_item.quantity }}

                        </span>
<span class="food-price">
    ₹{% widthratio cart_item.item.price 1 cart_item.quantity %}
</span>

                    </div>

                </div>

                {% endfor %}

            </div>

        </div>


        <div class="checkout-right">

            <h2>Order Summary</h2>

            <div class="summary-row">

                <span>Items Total</span>

                <span>₹{{ total_price }}</span>

            </div>

            <div class="summary-row">

                <span>Delivery Fee</span>

                <span>₹40</span>

            </div>

            <div class="summary-row total-row">

                <span>Total</span>

<span>₹{{ final_amount }}</span>
            </div>

            <button type="button" id="rzp-button" class="pay-btn">

                Pay Now

            </button>

            <a href="/show_cart/{{ username }}/" class="go-cart-btn">
    Go To Cart
</a>

        </div>

    </div>

</div>

<script>

var options = {

    "key": "{{ razorpay_key_id }}",

    "amount": "{{ razorpay_amount }}",

    "currency": "INR",

    "name": "Foodigo",

    "description": "Order Payment",

    "order_id": "{{ order_id }}",

    "redirect": false,

    "handler": function (response) {

    alert("Payment Successful!");

window.location.replace("/orders/{{ username }}/");},

    "theme": {

        "color": "#ffb11f"
    }
};

var rzp = new Razorpay(options);

document.getElementById("rzp-button").onclick = function (e) {

    rzp.open();

    return false;
};

</script>

</body>
</html>