{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodigo</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <div class="home-container">

        <h1>
            Foodigo 🍕
        </h1>

        <p class="tagline">
            Where you find the true taste ☕
        </p>

        <div class="button-group">

            <a href="open_signup" class="btn signup-btn">
                Sign Up
            </a>

            <a href="open_signin" class="btn signin-btn">
                Sign In
            </a>

        </div>

    </div>

</body>
</html>