{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title>Foodigo</title>

<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>

<section class="hero">

    <div class="hero-content">

        <h1>Foodigo</h1>

        <p>
            Hot meals. Fast delivery.
            Premium food ordering.
        </p>

        <div class="hero-buttons">

            <a href="/open_signup" class="hero-btn primary-btn">
                Get Started
            </a>

            <a href="/open_signin" class="hero-btn secondary-btn">
                Sign In
            </a>

        </div>

    </div>

</section>

</body>

</html>